{% extends 'base.html' %}

{% block title %}
Create a Recipe
{% endblock title %}

{% block content %}
<header>
  <nav>
    <a href="{% url 'recipe_list' %}">Main page</a>
  </nav>
</header>
<main>
  <h1>Create New Recipe</h1>
  <form method="post">
      {% csrf_token %}
      {{ recipe_form.as_p }}
      <button>Create</button>
  </form>
</main>
<footer>
  Made with love by Scrumptious Recipes
</footer>
{% endblock content %}
